#root {
  width: 100vw;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.TitleContent{
  width: 100vw;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.Bulletin{
  flex: 3 1 auto;
}

.VenueBook{
  flex: 2 1 auto;
}




