.DomainPage .card:hover.card:hover{
    animation-duration: 8000ms;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    /*box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);*/
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    margin-top: 50px;
}
