.container12 {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-image:url("../../Domain/Assets/lnmiit/lnmiit2.jpeg") ;
    filter: grayscale(100%);
    background-size: cover; /* Adjust the size of the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading12{
    color: white;
    font-weight: 500;
  }
  .innerBox12 {
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background: transparent;
    border: 2px solid rgba(244, 235, 235, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    filter: none;
    flex-direction: column;
    gap: 30px;
  }
  .innerBox12 input::placeholder {
    color: rgb(197, 193, 193);
}

  .footer12 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer12 .error {
    font-weight: bold;
    font-size: 0.88rem;
    color: black;
    text-align: center;
  }
  
  .footer12 button {
    outline: none;
    border: none;
    background-color: #0b0b0b;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
  }
  
  .footer12 button:disabled {
    background-color: gray !important;
  }
  
  .footer12 button:hover {
    background-color: #525152;
  }
  
  .footer12 p {
    font-weight: 500;
    color: #cbc1c1;
  }
  
  .footer12 p span a {
    font-weight: bold;
    color: #0b0a0b;
    font-size: 1rem;
    text-decoration: none;
  }
  .footer12 p span a:hover {

    text-decoration: underline;
  }