.display-linebreak{
    white-space: pre-line;
}

.Details-ele{
    background: transparent;
    border: 2px solid rgba(244, 235, 235, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}